// Body
$body-bg: #f8fafc;
$primary: #e9ffc7;
$secondary: #2e7c7d;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$headings-font-family: 'Fjalla One', sans-serif;