// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'navbar';
@import 'table';

.item-box {
  width: 10rem;
}

.item-box .item-box-image-container {
  width: 100%;
  height: 75%;
}

.item-box .item-box-image-container:not(.placeholder-image) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-box .item-box-image-container.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box .item-box-image-container.placeholder-image img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.top-end-corner {
  top: 1rem;
  right: 1rem;
}

.bottom-end-corner {
  bottom: 1rem;
  right: 1rem;
}

.bg-gray {
    background-color: #fcfcfc;
}

.start-075 {
    left: 0.75rem;
}

.zoom-hover {
    transition: all ease-in-out 0.2s;
}

.zoom-hover:hover {
    transform: scale(1.1);
}

.text-darker {
    color: rgb(239, 239, 240) !important;
}

.icon-link > .bi {
    margin-bottom: 0.3rem;
}

.auth-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.auth-page-container-inner {
    width: 90%;
}
@include media-breakpoint-up(md) {
    .auth-page-container-inner {
        width: 50%;
    }
}
